<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
    <link rel="stylesheet" th:href="@{/css/table.css}" type="text/css">
</head>
<body>
<form th:object="${user}" method="POST">
    <label>
        Id:
        <input type="text" th:value="Generated" disabled="disabled"/>
    </label>
    <label>
        Role:
        <select th:field="${user.roleName}">
            <th:block th:each="role : ${roles}">
                <option th:value="${role.role}" th:text="${role.role}"></option>
            </th:block>
        </select>
    </label>
    <label>
        Name:
        <input type="text" th:field="${user.name}"/>
    </label>
    <label>
        Login:
        <input type="text" th:field="${user.login}"/>
    </label>
    <label>
        Password:
        <input type="text" th:field="${user.password}"/>
    </label>
    <input type="submit" value="add" />
</form>
</body>
</html>